[include]
    path = ~/.gitconfig.local

[user]
    # Credentials loaded from ~/.gitconfig.local
    # Run git/setup-git.sh to configure

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --oneline --graph --decorate
    branches = branch -a
    remotes = remote -v

[color]
    ui = auto

[push]
    autoSetupRemote = true

[fetch]
    prune = true
